h1 {
  color: green;
  background-color: dimgrey;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: palegreen;
  background-color: dimgrey;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: palegreen;
}
