css

html {
background-color: blue;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: mediumseagreen;
  background-color: dimgrey;
  text-align: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: dimgrey;
  color: mediumseagreen;
  text-align: left;
}
