h1 {
  color: #1DB954;
  text-align: left;
  text-indent: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-style: normal;
  padding-top: 10px;
}

h2 {
  color: #EDFAF1;
  text-align: left;
  text-indent: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-style: normal;
  border-bottom: 4px solid #1DB954;
  padding-bottom: 10px;
}

p {
  color: #EDFAF1;
  text-align: left;
  text-indent: 50px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 150%;
  font-style: normal;
  padding-left: 50px;
  padding-right: 50px;
}

links {
  color: #1DB954;
  text-align: center;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-style: normal;
}

footer {
  color: #1DB954;
  align: center;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-style: normal;
}

body {
  background-color: #121212;
  padding-left: 100px;
  padding-right: 100px;

}
